<div class="row">
  <div class="col-md-6">
    <div class="container fixed container-xl bg-danger fixed border-bottom border-5 border-end border-black rounded-5 w-100">
      <div class="container mt-2 w-50 p-1">
        <form class="d-flex p-1 justify-content-center " role="search">
          
        </form>
        <div class="not-found" *ngIf="pokemonNotFound">
          <p class="text-bg-warning text-center fs-6">
            No se ha encontrado pokemon para "{{ search }}"
          </p>
        </div>
      </div>
      <div class="justify-content-center rounded-6 mx-4">
        <table
          class="table table-light table-hover table-striped w-100 table-responsive align-middle"
        >
          <thead>
            <tr>
              <th class="text-center fs-md-6">#</th>
              <th class="text-center fs-md-6">Nombre</th>
              <th class="text-center fs-md-6">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let poke of filteredPokemons"
              (click)="onSelectPokemon(poke)"
              [ngStyle]="{ height: '100px' }"
            >
              <td class="text-center fs-6 fs-md-4">{{ poke.id }}</td>
              <td class="text-center fs-6 text-uppercase fs-md-3 ">{{ poke.name }}</td>
              <td class="text-center">
                <img [src]="poke.pic" [alt]="poke.name" class="w-[20px]" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <app-poke-details [pokemonDetails]="selectedPokemon[0]"></app-poke-details>
  </div>
</div>
